$darkBrown: #4a362a;
$pageLightBrown: #cba77b;
$woodBron: #8d5232;

$standardFont: 'ComicNeue', sans-serif;

// GLOBAL STYLES //
* {
	user-select: none;
	box-sizing: border-box;
	font-family: $standardFont;
}

body {
	margin: 0;
}

canvas {
	cursor: none;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
	padding: 0;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}
}

.center-text-align {
	text-align: center !important;
}
