$bookImage: url('../assets/images/book.png');
$darkBrown: #4a362a;

// TRANSFORMATIONS //

.open {
	transform: translateX(0) !important;
	opacity: 1 !important;
}

.rotate {
	transform: rotate(180deg);
}

// USER INTERFACE //

#ui-options {
	position: absolute;
	top: 110px;
	opacity: 0;
	transition: opacity 0.25s;
}

#ui-menu-button-image {
	width: 50px;
	height: 50px;
	transition: transform 0.5s ease-in-out;
	object-fit: contain;
}

#ui-menu-item-list {
	margin: 5px 0;
	opacity: 1;
	transform: translateX(-250px);
	transition: all 0.5s ease-in-out;
	position: absolute;
	background-size: contain;
	height: 244px;
	width: 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-repeat: no-repeat;
	justify-content: space-between;

	& > li > button {
		background-repeat: no-repeat;
		background-size: contain;
	}

	& > li:last-child {
		margin-bottom: 10px;
	}

	& > li:first-child {
		margin-top: 8px;
	}
}

.ui-button {
	padding: 0 5px 5px 5px;

	& > img {
		width: 40px;
		height: 40px;
		object-fit: contain;
	}

	&:hover {
		cursor: pointer !important;
	}
}

.ui-button-hint {
	position: absolute;
	transform: translateX(50px) translateY(-50%);
	background-image: $bookImage;
	width: 199px;
	height: 150px;
	background-size: cover;
	display: flex;
	justify-content: space-around;

	& > div {
		width: 50%;
	}
}

#ui-faq-button-hint {
	display: none;

	&:hover {
		display: flex;
	}
}

#ui-faq-button {
	cursor: help !important;
	&:hover #ui-faq-button-hint {
		display: flex;
	}
}

.ui-button-hint-page {
	padding: 15px;
}

.ui-button-hintpage-title {
	margin-bottom: 8px;
	font-size: 16px;
	color: $darkBrown;
}

.ui-button-hintpage-text {
	color: $darkBrown;
	text-align: left;
	margin-bottom: 7px;
}
