// GLOBAL STYLES //
* {
	user-select: none;
	box-sizing: border-box;
}

body {
	&:hover #ui-options {
		opacity: 1 !important;
	}
}

canvas {
	cursor: none;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
	padding: 0;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}
}
